Repository ansys/scade-git, pull requests merged in 2024-09, with the labels that each got.

#28 ci: Upload the coverage results
  .github/workflows/ci_cd.yml
  doc/changelog.d/28.maintenance.md
Labels: maintenance

#27 ci: remove the artifact examples
  .github/workflows/ci_cd.yml
  doc/changelog.d/27.maintenance.md
Labels: maintenance

#31 fix: Make sure the directory %APPDATA%\SCADE\Customize exists when registering the package
  doc/changelog.d/31.fixed.md
  src/ansys/scade/git/register.py
Labels: bug

#33 docs: Add the parameter --user in the pip install command line
  doc/changelog.d/33.documentation.md
  doc/source/getting_started/index.rst
Labels: documentation

#34 fix:add changelog action in cicd
  .github/workflows/ci_cd.yml
  doc/changelog.d/34.fixed.md
Labels: bug, maintenance

#37 fix: Update the change log only when creating a new release
  .github/workflows/ci_cd.yml
  doc/changelog.d/37.fixed.md
Labels: bug, maintenance

#36 fix: The package is not loaded by SCADE 2024 R2
  doc/changelog.d/36.fixed.md
  pyproject.toml
  src/ansys/scade/git/__init__.py
  src/ansys/scade/git/git.srg
Labels: bug, maintenance
